*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img{
  max-width: 100%;
}

body{
  overflow: hidden;
}

.road{
  position: relative;
  object-position: bottom;
  object-fit: cover;
  width: 100%;
  height: 944px;
}

.road img{
  width: 100%;
}

.cloud{
  position: absolute;
  left: -150px;
  top: -75px;
  /* border: 2px solid red; */
}

.small-cloud{
  /* border: 2px solid black; */
  margin-left: 50px;
  display: block;
  position: absolute;
  top: 40px;
  left: 1500px;
}

.medium-cloud{
  /* border: 2px solid yellow; */
  display: block;
  position: absolute;
  top: -20px;
  left: 950px;
}

.medium2-cloud{
  /* border: 2px solid pink; */
  display: block;
  position: absolute;
  bottom: 700px;
  left: 400px;
}

.sun{
  position: absolute;
  bottom: 670px;
  right:-130px;
}

.airplane{
  /* border: 2px solid green; */
  position: absolute;
  bottom: 520px;
  right: 1794px;
  animation: airplane 5s linear infinite;
}

@keyframes airplane {
  40%{
    /* border: 2px solid green; */
    transform: translateX(1000px);
  }

  60%{
    /* border: 2px solid yellow; */
    transform: translate(1600px, -60px) rotate(-5deg);
  }

  80%{
    /* border: 2px solid red; */
    transform: translate(2200px, -90px) rotate(-10deg);
  }

  100%{
    /* border: 2px solid pink; */
    transform: translate(2790px, -110px) rotate(-15deg);
  }
}

.danfo-bus{
  position: absolute;
  bottom: 50px;
  left:-550px;
  animation: danfo 5s linear infinite;
}

@keyframes danfo {
  to{
    transform: translateX(2400px);
  }
}

.couple{
  position: absolute;
  top: 500px;
  right: 2000px;
  animation: couple 5s linear infinite 1s;
}

@keyframes couple {
  to{
    transform: translateX(2500px);
  }
}

.man{
  position: absolute;
  bottom: 70px;
  right: 1820px;
  animation: man 5s linear infinite 3s;
}

@keyframes man{
  to{
    transform: translateX(2500px);
  }
}

.bus{
  position: absolute;
  bottom: 130px;
  right: -480px;
  animation: sqibus 5s linear infinite;
}

@keyframes sqibus{
  to{
    transform: translateX(-2500px);
  }
}